<div class="prising_area">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="section_title text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">
    <h3>Unlock full Power</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
    elit sed do eiusmod <br> tempor incididunt.</p>
    </div>
    </div>
    </div>
    <div class="row no-gutters align-items-center">
    <div class="col-xl-4 col-md-4">
    <div class="single_prising text-center wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".8s">
    <div class="prising_header d-flex justify-content-between">
    <h3>Basic</h3>
    <span>$06</span>
    </div>
    <ul>
    <li>One User</li>
    <li>1000 ui elements</li>
    <li>Webmail Support</li>
    <li>100GB Cloud Storage</li>
    </ul>
    <div class="prising_bottom">
    <a href="#" class="get_now prising_btn">Get Now</a>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-md-4">
    <div class="single_prising text-center wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s">
    <div class="prising_header d-flex justify-content-between pink_header">
    <h3>Team</h3>
    <span>$06</span>
    </div>
    <ul>
    <li>One User</li>
    <li>1000 ui elements</li>
    <li>Webmail Support</li>
    <li>100GB Cloud Storage</li>
    <li>Unlimited Users Limit</li>
    </ul>
    <div class="prising_bottom">
    <a href="#" class="get_now prising_btn">Get Now</a>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-md-4">
    <div class="single_prising text-center wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".8s">
    <div class="prising_header d-flex justify-content-between green_header">
    <h3>Business</h3>
    <span>$06</span>
    </div>
    <ul>
    <li>One User</li>
    <li>1000 ui elements</li>
    <li>Webmail Support</li>
    <li>100GB Cloud Storage</li>
    </ul>
    <div class="prising_bottom">
    <a href="#" class="get_now prising_btn">Get Now</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>