<div class="prising_area">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="section_title text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">
    <h3>Unlock full Power</h3>
    <p>At the moment all services are free <br> This may very in the future.</p>
    </div>
    </div>
    </div>
    <div class="row no-gutters align-items-center">
    <div class="col-xl-4 col-md-4">
    <div class="single_prising text-center wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".8s">
    <div class="prising_header d-flex justify-content-between">
    <h3>Basic User</h3>
    <span>free</span>
    </div>
    <ul>
    <li>One User</li>
    <li>Upload your profile</li>
    <li>Buy weed</li>
    <li>Get it delievered to you</li>
    </ul>
    <div class="prising_bottom">
    <a href="#" class="get_now prising_btn">Get Now</a>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-md-4">
    <div class="single_prising text-center wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s">
    <div class="prising_header d-flex justify-content-between pink_header">
    <h3>Delivery User</h3>
    <span>Earn Money</span>
    </div>
    <ul>
    <li>One User</li>
    <li>Upload your profile</li>
    <li>Get delievery jobs</li>
    <li>You get paid</li>
    <li>Unlimited Work Time</li>
    </ul>
    <div class="prising_bottom">
    <a href="#" class="get_now prising_btn">Get Now</a>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-md-4">
    <div class="single_prising text-center wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".8s">
    <div class="prising_header d-flex justify-content-between green_header">
    <h3>Business User</h3>
    <span>Earn Money</span>
    </div>
    <ul>
    <li>Unlimited Shops</li>
    <li>Sell weed</li>
    <li>Through Payment Skim</li>
    <li>Make lots of money</li>
    </ul>
    <div class="prising_bottom">
    <a href="#" class="get_now prising_btn">Get Now</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>