<div class="productivity_area">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-xl-7 col-md-12 col-lg-6">
    <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">Get start from now <br>
    and increase productivity</h3>
    </div>
    <div class="col-xl-5 col-md-12 col-lg-6">
    <div class="app_download wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
    <a href="#">
    <img src="img/icon/app.svg" alt="" data-pagespeed-url-hash="2400989616" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </a>
    <a href="#">
    <img src="img/icon/play.svg" alt="" data-pagespeed-url-hash="3323826305" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>