<div class="col-lg-8 mb-5 mb-lg-0">
    <div class="blog_left_sidebar">
        
            {% for post in site.posts %}
            <article class="blog_item">
                <div class="blog_item_img">
                <img class="card-img rounded-0" src="{% if post.titleimg %}{{ post.titleimg }}{% else %}img/blog/single_blog_1.png {% endif %}" alt="" data-pagespeed-url-hash="4114322597" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                <a href="#" class="blog_item_date">
                <h3>{{ post.date | date: '%d' }}</h3>
                <p>{{ post.date | date: '%b' }}</p>
                </a>
                </div>
                <div class="blog_details">
                <a class="d-inline-block" href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
                </a>
                <p>{% if post.header %}{{ post.header }}{% else %}Second test from form fish beast made every of seas
                    all gathered us saying he our {% endif %}</p>
                <ul class="blog-info-link">
                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
               <!-- <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>-->
                </ul>
                </div>
                </article>
               <!-- <a href="{{ post.url }}">{{ post.title }}</a>-->
            
            {% endfor %}
    {% include nav.html %}        
    </div>
    </div>