<div class="col-lg-8 mb-5 mb-lg-0">
    <div class="blog_left_sidebar">
        
            {% for post in site.posts %}
            <article class="blog_item">
                <div class="blog_item_img">
                <img class="card-img rounded-0" src="{% if post.titleimg %}{{ post.titleimg }}{% else %}img/blog/single_blog_1.png {% endif %}" alt="" data-pagespeed-url-hash="4114322597" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                <a href="#" class="blog_item_date">
                <h3>{{ post.date | date: '%d' }}</h3>
                <p>{{ post.date | date: '%b' }}</p>
                </a>
                </div>
                <div class="blog_details">
                <a class="d-inline-block" href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
                </a>
                <p>{% if post.header %}{{ post.header }}{% else %}Second test from form fish beast made every of seas
                    all gathered us saying he our {% endif %}</p>
                <ul class="blog-info-link">
                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
               <!-- <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>-->
                </ul>
                </div>
                </article>
               <!-- <a href="{{ post.url }}">{{ post.title }}</a>-->
            
            {% endfor %}
      <!--
    <article class="blog_item">
    <div class="blog_item_img">
    <img class="card-img rounded-0" src="img/blog/single_blog_1.png" alt="" data-pagespeed-url-hash="4114322597" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    <a href="#" class="blog_item_date">
    <h3>15</h3>
    <p>Jan</p>
    </a>
    </div>
    <div class="blog_details">
    <a class="d-inline-block" href="single-blog.html">
    <h2>Google inks pact for new 35-storey office</h2>
    </a>
    <p>That dominion stars lights dominion divide years for fourth have don't stars is that
    he earth it first without heaven in place seed it second morning saying.</p>
    <ul class="blog-info-link">
    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
    </ul>
    </div>
    </article>
    <article class="blog_item">
    <div class="blog_item_img">
    <img class="card-img rounded-0" src="img/blog/single_blog_2.png" alt="" data-pagespeed-url-hash="113855222" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    <a href="#" class="blog_item_date">
    <h3>15</h3>
    <p>Jan</p>
    </a>
    </div>
    <div class="blog_details">
    <a class="d-inline-block" href="single-blog.html">
    <h2>Google inks pact for new 35-storey office</h2>
    </a>
    <p>That dominion stars lights dominion divide years for fourth have don't stars is that
    he earth it first without heaven in place seed it second morning saying.</p>
    <ul class="blog-info-link">
    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
    </ul>
    </div>
    </article>
    <article class="blog_item">
    <div class="blog_item_img">
    <img class="card-img rounded-0" src="img/blog/single_blog_3.png" alt="" data-pagespeed-url-hash="408355143" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    <a href="#" class="blog_item_date">
    <h3>15</h3>
    <p>Jan</p>
    </a>
    </div>
    <div class="blog_details">
    <a class="d-inline-block" href="single-blog.html">
    <h2>Google inks pact for new 35-storey office</h2>
    </a>
    <p>That dominion stars lights dominion divide years for fourth have don't stars is that
    he earth it first without heaven in place seed it second morning saying.</p>
    <ul class="blog-info-link">
    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
    </ul>
    </div>
    </article>
    <article class="blog_item">
    <div class="blog_item_img">
    <img class="card-img rounded-0" src="img/blog/single_blog_4.png" alt="" data-pagespeed-url-hash="702855064" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    <a href="#" class="blog_item_date">
    <h3>15</h3>
    <p>Jan</p>
    </a>
    </div>
    <div class="blog_details">
    <a class="d-inline-block" href="single-blog.html">
    <h2>Google inks pact for new 35-storey office</h2>
    </a>
    <p>That dominion stars lights dominion divide years for fourth have don't stars is that
    he earth it first without heaven in place seed it second morning saying.</p>
    <ul class="blog-info-link">
    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
    </ul>
    </div>
    </article>
    <article class="blog_item">
    <div class="blog_item_img">
    <img class="card-img rounded-0" src="img/blog/single_blog_5.png" alt="" data-pagespeed-url-hash="997354985" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    <a href="#" class="blog_item_date">
    <h3>15</h3>
    <p>Jan</p>
    </a>
    </div>
    <div class="blog_details">
    <a class="d-inline-block" href="single-blog.html">
    <h2>Google inks pact for new 35-storey office</h2>
    </a>
    <p>That dominion stars lights dominion divide years for fourth have don't stars is that
    he earth it first without heaven in place seed it second morning saying.</p>
    <ul class="blog-info-link">
    <li><a href="#"><i class="fa fa-list-alt"></i> Travel, Lifestyle</a></li>
    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
    </ul>
    </div>
    </article>
    -->
    <nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
    <li class="page-item">
    <a href="#" class="page-link" aria-label="Previous">
    <i class="ti-angle-left"></i>
    </a>
    </li>
    <li class="page-item">
    <a href="#" class="page-link">1</a>
    </li>
    <li class="page-item active">
    <a href="#" class="page-link">2</a>
    </li>
    <li class="page-item">
    <a href="#" class="page-link" aria-label="Next">
    <i class="ti-angle-right"></i>
    </a>
    </li>
    </ul>
    </nav>
    </div>
    </div>