<div class="testmonial_area">
    <div class="container">
    <div class="col-xl-12">
    <div class="testmonial_active owl-carousel">
    <div class="single_testmonial text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">
    <div class="section_title">
    <h3>Review from our <br>
    regular users</h3>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod <br>
    tempor incididunt labore et dolore magna aliqua <br>
    quis ipsum suspendisse ultrices.
    </p>
    <div class="rating_author">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <span>
    - Robert Smile
    </span>
    </div>
    </div>
    <div class="single_testmonial text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">
    <div class="section_title">
    <h3>Review from our <br>
    regular users</h3>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod <br>
    tempor incididunt labore et dolore magna aliqua <br>
    quis ipsum suspendisse ultrices.
    </p>
    <div class="rating_author">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <span>
    - Robert Smile
    </span>
    </div>
    </div>
    <div class="single_testmonial text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">
    <div class="section_title">
    <h3>Review from our <br>
    regular users</h3>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod <br>
    tempor incididunt labore et dolore magna aliqua <br>
    quis ipsum suspendisse ultrices.
    </p>
    <div class="rating_author">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <span>
    - Robert Smile
    </span>
    </div>
    </div>
    <div class="single_testmonial text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">
    <div class="section_title">
    <h3>Review from our <br>
    regular users</h3>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod <br>
    tempor incididunt labore et dolore magna aliqua <br>
    quis ipsum suspendisse ultrices.
    </p>
    <div class="rating_author">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <span>
    - Robert Smile
    </span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>