
<!doctype html>
<html class="no-js" lang="en">
<head>

{% include pagehead.html %}

</head>
<body>
<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

{% include header.html %}

{% include slider_area.html %}

{% include service_area.html %}

{% include service_area_2.html %}

{% include features_area.html %}

{% include testmonial_area.html %}

{% include prising_area.html %}

{% include productivity_area.html %}

{% include footer.html %}

{% include scriptsfooter.html %}

</body>
</html>
