
<!doctype html>
<html class="no-js" lang="zxx">
<head>

  {% include pagehead.html %}

</head>
<body>
<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

{% include header.html %}

{% include breadcrumbs.html %}

<!--prising_area minus_padding needs to be added-->

{% include prising_area.html %}

{% include features_area.html %}

{% include productivity_area.html %}

{% include footer.html %}

{% include scriptsfooter.html %}

</body>
</html>